<%= turbo_frame_tag message do %>
  <div id="<%= dom_id message %>">
    <blockquote>
      <%= message.body %>
      <%= link_to "âœï¸", edit_message_path(message), class: 'edit_btn' %>
      <%= link_to "ðŸ—‘ï¸", message_destroy_path(message), method: :delete, class: 'delete_btn' %>
    </blockquote>
  </div>
<% end %>