<%= turbo_frame_tag :sign_in_form do %>
  <%= form_with url: sessions_path do |f| %>
    <h2>Sign in</h2>
    <%= f.label :email %>
    <%= f.email_field :email %>
    <%= f.submit "Sign in" %>
  <% end %>
<% end %>
