<!DOCTYPE html>
<html>
  <head>
    <title>Chat app</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <h1>Chat app</h1>
    <div id="notice"><%= notice %></div>
    <%= yield %>
  </body>
</html>
